# ============================
# Local DB volumes
mysql/data/
kafka/data
clickhouse/data
clickhouse/logs

# ============================
# Migrations
# ============================
migrations/*.tmp

# ============================
# Python
# ============================
__pycache__/
*.pyc

# OS junk
.DS_Store
Thumbs.db
instruction
.env