# ============================
# Local DB volumes
mysql/data/
kafka/data

# ============================
# Migrations
# ============================
migrations/*.tmp

# ============================
# Python
# ============================
__pycache__/
*.pyc

# OS junk
.DS_Store
Thumbs.db
instruction